Change timezone name from UTC to GMT for [date] macro

Hi,

The existing [date] macro gets the timezone listed as UTC:
```
Date: Wed, 18 Aug 2021 14:43:48 UTC
```

**It's suggested the format is changed to GMT instead**,
So that it's possible to use this macro at no extra manipulations to generate **Date** header.
According to [RFC3261 section 20.17](https://datatracker.ietf.org/doc/html/rfc3261#section-20.17) it should be as follows:
```
As in [H3.3], SIP restricts the time zone in SIP-date to "GMT"
```
################
### As a workaround I was able to get it generated as GMT with the following code:
```
  <nop>
    <action>
      <assignstr assign_to="date_utc" value="[date]" />
      <ereg regexp="(.*) UTC" search_in="var" assign_to="dummy,date_gmt" variable="date_utc" />
    </action>
  </nop>
```

and then write the header in xml as:
```
      Date: [$date_gmt] GMT
```

P.S. Edit of the documentation is required, since [date] macro is not listed there yet.
Please see PR #534 

The commits where [date] was added seem to be pointing to GMT though.
I've checked the behavior in 3.5.1, 3.6.0 and 3.6.1 versions - UTC is returned instead of GMT.
```
commit ca62c50f59343a578e2569a11b1641255d7696a0
Merge: 54ff291 0de98ea
Author: Rob Day <rkd@rkd.me.uk>
Date:   Mon Sep 29 23:12:25 2014 +0100

    Merge pull request #100 from SIPp/add_date_keyword

    Correct date format - SIP dates must be GMT
commit 0de98ea29471d36a0feba4919299eed53894b112
Author: Rob Day <rkd@rkd.me.uk>
Date:   Mon Sep 29 23:12:00 2014 +0100

    Correct date format - SIP dates must be GMT
commit 54ff291b18e7beec4aa29094f40f68324ca32822
Merge: a754056 0bfd227
Author: Rob Day <rkd@rkd.me.uk>
Date:   Mon Sep 29 23:07:36 2014 +0100

    Merge pull request #99 from SIPp/add_date_keyword

    Add [date] for the current date in RFC 2822 syntax
commit 0bfd227eb8d759645be525a8d4070ea0be65b937
Author: Rob Day <rkd@rkd.me.uk>
Date:   Mon Sep 29 23:05:07 2014 +0100

    Add [date] for the current date in RFC 2822 syntax
```

Interesting how you'd see UTC.

Over here I get GMT:
```c
#include <time.h>
#include <stdio.h>
int main() {
time_t t = time(NULL);
struct tm *tm = gmtime(&t);
char buf[256];
strftime(buf, 256, "%a, %d %b %Y %T %Z", tm);
printf("date = \"%s\"\n", buf);
return 0;
}
```
```
$ ./a.out 
date = "Fri, 20 Aug 2021 07:19:52 GMT"
$ TZ=GMT ./a.out 
date = "Fri, 20 Aug 2021 07:22:42 GMT"
$ TZ=UTC ./a.out 
date = "Fri, 20 Aug 2021 07:22:39 GMT"
```
^- `GMT`, no matter what `TZ` I have

Compare:
```
$ LC_ALL=C date
Fri Aug 20 09:21:53 CEST 2021
$ TZ=GMT LC_ALL=C date
Fri Aug 20 07:22:00 GMT 2021
$ TZ=UTC LC_ALL=C date
Fri Aug 20 07:22:03 UTC 2021
```

Even if I move /usr/share/zoneinfo/Universal out of the way, I still get GMT:
```
$ LC_CTIME=C TZ= strace -s1024 ./a.out 
execve("./a.out", ["./a.out"], 0x7ffc86daae98 /* 65 vars */) = 0
...
openat(AT_FDCWD, "/usr/share/zoneinfo/Universal", O_RDONLY|O_CLOEXEC) = -1 ENOENT (No such file or directory)
fstat(1, {st_mode=S_IFCHR|0620, st_rdev=makedev(0x88, 0x3b), ...}) = 0
write(1, "date = \"Fri, 20 Aug 2021 07:26:00 GMT\"\n", 39date = "Fri, 20 Aug 2021 07:26:00 GMT"
) = 39
```

What OS/distro are you using?

Musl perhaps?
```
$ docker run -it frolvlad/alpine-gcc sh

/ # cat > 1.c
#include <time.h>
#include <stdio.h>
int main() {
time_t t = time(NULL);
struct tm *tm = gmtime(&t);
char buf[256];
strftime(buf, 256, "%a, %d %b %Y %T %Z", tm);
printf("date = \"%s\"\n", buf);
return 0;
}
^D

/ # gcc 1.c 

/ # ./a.out 
date = "Fri, 20 Aug 2021 07:35:53 UTC"
```


Hi, Walter, thanks for prompt reply.

> What OS/distro are you using?
I checked on FreeBSD 11.1, 11.2, 11.3.
Let me doublecheck that on some Ubuntu machine and perhaps FreeBSD 12 - I'll post there an update shortly.

```
[test1@freebsd112]$ LC_ALL=C date
Fri Aug 20 00:41:24 PDT 2021
[test1@freebsd112]$ TZ=GMT LC_ALL=C date
Fri Aug 20 07:41:34 UTC 2021
[test1@freebsd112]$ TZ=UTC LC_ALL=C date
Fri Aug 20 07:41:40 UTC 2021
```

Checked on Debian 10 (buster) - v3.7-dev-19-g842efe9 processes macro [date] as GMT.
However, on FreeBSD 12.1 I'm having exactly the same issue. Upon doing some investigation found that it might be caused by wrong path to timezones, or different timezones structure:
```
[freebsd12@freebsd-postgresql-test ~]$ TZ=GMT date
Fri Aug 20 08:29:58 UTC 2021
[freebsd12@freebsd-postgresql-test ~]$ sudo cp -p /usr/share/zoneinfo/Etc/GMT /usr/share/zoneinfo/GMT
[freebsd12@freebsd-postgresql-test ~]$ TZ=GMT date
Fri Aug 20 08:30:07 GMT 2021
[freebsd12@freebsd-postgresql-test ~]$ ls /usr/share/zoneinfo/
Africa          Asia            CST6CDT         Etc             HST             MST7MDT         SystemV
America         Atlantic        EET             Europe          Indian          Pacific         UTC
Antarctica      Australia       EST             Factory         MET             posixrules      WET
Arctic          CET             EST5EDT         GMT             MST             PST8PDT         zone.tab
[freebsd12@freebsd-postgresql-test ~]$ ls /usr/share/zoneinfo/Etc/
GMT             GMT-11          GMT-2           GMT-6           GMT+0           GMT+12          GMT+5           GMT+9           UTC
GMT-0           GMT-12          GMT-3           GMT-7           GMT+1           GMT+2           GMT+6           GMT0            Zulu
GMT-1           GMT-13          GMT-4           GMT-8           GMT+10          GMT+3           GMT+7           Greenwich
GMT-10          GMT-14          GMT-5           GMT-9           GMT+11          GMT+4           GMT+8           Universal
```

For an example, setting the relative or absolute path for TZ also works for date:
```
[ssp-root@freebsd-postgresql-test ~]$ TZ=Etc/GMT date
Fri Aug 20 13:11:00 GMT 2021
```

however, that does not cause any difference neither for installed sipp, nor for fresh git clone/cmake/make version.

I suspect the difference lies here somewhere:

https://github.com/lattera/glibc/blob/895ef79e04a953cac1493863bcae29ad85657ee1/time/strftime_l.c#L550
https://github.com/lattera/glibc/blob/895ef79e04a953cac1493863bcae29ad85657ee1/time/strftime_l.c#L1308-L1346

vs

https://github.com/freebsd/freebsd-src/blob/main/contrib/tzcode/stdtime/localtime.c#L107
https://github.com/freebsd/freebsd-src/blob/main/contrib/tzcode/stdtime/localtime.c#L1503
https://github.com/freebsd/freebsd-src/blob/main/lib/libc/stdtime/strftime.c#L482-L496